<h3 class="text-center">The Scoop</h3>
<div class="article-container">
<% @articles.each do |article| %>
<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img class="image" src="<%= article.image %>">
    </div>
  </div>
  <div class="media-object-section main-section">
    <h5><%= article.title %></h5>
    <p><%= article.description %></p>
    <li><a target="_blank" href="<%= article.url %>" id="articles">View Article</a></li>
  </div>
</div>
<% end %>
</div>
