<img src="tb12.png" class="main">
<div>
  <h3 class="text-center headline">Your number one source on all things Tom Brady</h3>
  <p class="text-center headline">
    Why Tom? Tampa? Really? Gonna be like 100 degrees down there. Brookline wasn't good enough for You?
    Should've kept Jimmy G.
  </p>
</div>
<div class="grid-container">
  <div class="grid-x grid-margin-x text-center medium-offset-2 small-offset-3">
    <div class="link-box medium-3 small-12" ><a class="front" href='/articles'>Articles!</a></div>
    <div class="link-box medium-3 small-12"><a class="front" href='/articles/new'>Submit!</a></div>
    <div class="link-box medium-3 small-12"><a class="front" href='/articles/random'>Random!</a></div>
  </div>
</div>
