<h3>Get a Random Tom Brady Article!</h3>
<div class="media-object">
  <div class="media-object-section">
    <div id="pic">
    </div>
  </div>
  <div class="media-object-section" id="random">
  </div>
</div>
<button id="get_article" type="button" class="alert button grid-x medium-offset-4 small-offset-6">Random Article!</button>
<script src="/javascripts/app.js"></script>
